.data {
    border-collapse: collapse;
}

.data td, .data th {
    padding: 5px;
}

.data td {
    border-bottom: 1px sold #666666;
}

thead tr {
    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}